html {
  background: rgb(170,192,219);
  background: -webkit-linear-gradient(bottom, rgba(170,192,219,1) 0%, rgba(215,252,254,1) 100%);
  background: -o-linear-gradient(bottom, rgba(170,192,219,1) 0%, rgba(215,252,254,1) 100%);
  background: linear-gradient(to top, rgba(170,192,219,1) 0%, rgba(215,252,254,1) 100%);
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.box .centredBox {
  font-family: Space Mono, monospace;
  vertical-align: center;
  text-align: center;
}

.box .socialBox {
  font-family: Space Mono, monospace;
  vertical-align: center;
  text-align: center;
}

.name {
  font-size: 50px;
  font-weight: bold;
  line-height: 5px;
}

.social{
  line-height: 0;
  font-weight: 10;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover.twitter {
  color: rgb(42,163,239);
}

a:hover.linkedin {
  color: #0077B5;
}

a:hover.github {
  color: #6cc644;
}

/* selected link */
a:active {
  color: blue;
}

img.round{
  border-radius: 50px;
  width:100px;
  height:100px;
  margin: 30px;
}

a#email {
	text-decoration: none;
}


@media screen and (max-width: 800px) {
  .box {
	  flex-direction: column;
  }
  .name {
	  letter-spacing: -2px;
	  font-weight: normal;
	  line-height: 40px;
  }
  img.round{
  	border-radius: 62.5px;
  	width: 250px;
  	height:250px;
  	margin: 25px;
  }
}